BeautifulSoup==3.2.1
decorator==4.1.2
futures==3.2.0
html5lib==1.0b8
httplib2==0.11.3
hyperlink==17.3.1
lxml==4.6.5
networkx==2.0
nltk==3.2.5
numpy>=1.14.1
oauth2==1.9.0.post1
oauthlib==2.0.7
PyVirtualDisplay==0.2.1
regex==2017.4.5
requests==2.18.4
requests-oauthlib==0.8.0
scipy==1.0.0
Scrapy==1.4.0
selenium==3.8.0
tweepy==3.6.0
twitter==1.18.0
TwitterSearch==1.0.2
urllib3==1.22
virtualenv==15.1.0